@page
@model LoginModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <h2>Login</h2>
        <form method="post" asp-page-handler="Login">
            @Html.AntiForgeryToken()
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <br>

            <button type="submit">Login</button>
        </form>
    </div>
</div>
